In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import math
import matplotlib as mt
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, f1_score, recall_score
import seaborn as sns
import statistics
sns.set(style="whitegrid")

In [15]:
dp = pd.read_csv("adult.csv")
df=dp.replace('?', np.NaN)
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [3]:
def normalize(X, mean, std):
    return (X - mean) / std

In [4]:
# Categorise the attributes
continuous_variables  = ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']
categorical_variables = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country', 'income']

In [5]:
#scaling continuous variables
def scaleFeature(df, col):
    mean = df[col].mean()
    std = df[col].std()
    df[col] = df[col].apply(lambda x: normalize(x, mean, std))

In [6]:
oneh_encoded_data = pd.get_dummies(df, columns = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country', 'income'])
data = oneh_encoded_data

In [7]:
for col in continuous_variables:
    scaleFeature(data, col)

In [8]:
data = data.drop('income_>50K', axis=1)

In [12]:
data.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia,income_<=50K
0,3.769554,-1.067981,-0.420053,-0.145918,10.593344,-0.035429,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,3.183063,-0.539160,-0.420053,-0.145918,10.593344,-1.817176,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
2,2.010079,-0.035219,-0.031360,-0.145918,10.593344,-0.035429,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,1.130342,-0.468208,-2.363521,-0.145918,9.461719,-0.035429,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
4,0.177293,0.709471,-0.031360,-0.145918,9.461719,-0.035429,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-1.215625,1.140442,-0.031360,-0.145918,-0.216656,-0.035429,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
32557,-0.849067,0.639731,0.746028,-0.145918,-0.216656,-0.197406,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
32558,0.103982,-0.335428,-0.420053,-0.145918,-0.216656,-0.035429,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
32559,1.423588,-0.358772,-0.420053,-0.145918,-0.216656,-0.035429,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
32560,-1.215625,0.110958,-0.420053,-0.145918,-0.216656,-1.655199,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1

In [10]:
# separate orginal dataset into training and testing sets
train=data.sample(frac=0.8,random_state=100)
test=data.drop(train.index)
newtrain = train.sample(frac=0.875,random_state=0) 
validation = train.drop(newtrain.index)

# predictions
validation['y'] = 0
test['y'] = 0